.table{
    border: 2px solid black;
   width: 900px;
   margin-left: 200px;
}
.edit{
    color: blue;
}
.delete{
    color: red;
}
.custom-left{
    margin-left: 30px !important;
    margin-top: 5px !important;
}
.left{
    margin-left: 10px !important; 
    margin-top: 5px !important;    
}
.button{
    display: flex;
    justify-content: center;
}
.custom-margin{
    margin-left: 10px;
}