.heading{
    background-color: black;
    color: white;
    border: 2px solid black;
}
.btn1{
    /* float: right; */
    background-color: rgb(80, 209, 80);
    margin: 3px;
    margin-top: 33px;
    color: white;
}
.btn2{
    /* float: right; */
    background-color: rgb(80, 209, 80);
    margin: 3px;
    /* margin-top: 33px; */
    color: white;
}
.bt{
    height: 60px;
}
.bodyitem{
color: green;
}
.pagination{
    display:inline-block;
}
.page-item{
    display:inline-block;
}